/.env
/compose.override.yaml
/compose.override.yml
/compose.prod.yaml
/compose.prod.yml
/Dockerfile
/.dockerignore
/frankenphp/Caddyfile

###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
/.phpunit.cache/
###< phpunit/phpunit ###
