---
services:
  php:
    image: ${IMAGES_PREFIX:-}app-php
    restart: unless-stopped
    environment:
      SERVER_NAME: navcrm.local
      DEFAULT_URI: http://navcrm.local
      MERCURE_PUBLISHER_JWT_KEY: ${CADDY_MERCURE_JWT_SECRET:-!ChangeThisMercureHubJWTSecretKey!}
      MERCURE_SUBSCRIBER_JWT_KEY: ${CADDY_MERCURE_JWT_SECRET:-!ChangeThisMercureHubJWTSecretKey!}
      # Run "composer require symfony/orm-pack" to install and configure Doctrine ORM
#      DATABASE_URL: postgresql://${POSTGRES_USER:-app}:${POSTGRES_PASSWORD:-!ChangeMe!}@database:5432/${POSTGRES_DB:-app}?serverVersion=${POSTGRES_VERSION:-15}&charset=${POSTGRES_CHARSET:-utf8}
      # Run "composer require symfony/mercure-bundle" to install and configure the Mercure integration
      MERCURE_URL: http://navcrm.local/.well-known/mercure
      MERCURE_PUBLIC_URL: http://navcrm.local/.well-known/mercure
      MERCURE_JWT_SECRET: ${CADDY_MERCURE_JWT_SECRET:-!ChangeThisMercureHubJWTSecretKey!}
      # Disable HTTP/2 and HTTP/3 to prevent HTTPS redirects
      GODEBUG: http2server=0
      GOTRACEBACK: single
#      DATABASE_URL: mysql://${MYSQL_USER:-appJOPA}:${MYSQL_PASSWORD:-appJOPA1}@database:3306/${MYSQL_DATABASE}?serverVersion=${MYSQL_VERSION:-8}&charset=${MYSQL_CHARSET:-utf8mb4}
      DATABASE_URL: mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@database:3306/${MYSQL_DATABASE}?serverVersion=${MYSQL_VERSION:-8.4}&charset=${MYSQL_CHARSET:-utf8mb4}
      # The two next lines can be removed after initial installation
      SYMFONY_VERSION: ${SYMFONY_VERSION:-}
      STABILITY: ${STABILITY:-stable}
    env_file:
      - .env
      - .env.dev
    volumes:
      - .:/var/www/html
      - ./frankenphp/certs:/etc/caddy/certs
    ports:
      # Пробрасываем порт 80 контейнера на все интерфейсы хоста
      - target: 80
        published: 80
        protocol: tcp
        mode: host
      - target: 443
        published: 443
        protocol: tcp
        mode: host


# Mercure is installed as a Caddy module, prevent the Flex recipe from installing another service
###> symfony/mercure-bundle ###
###< symfony/mercure-bundle ###

###> doctrine/doctrine-bundle ###
  database:
    image: mysql:${MYSQL_VERSION:-8}
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: true
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      # You should definitely change the password in production
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_USER: ${MYSQL_USER}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
    env_file:
      - .env
      - .env.dev
    volumes:
#      - navyrost-symfony-docker_database_data:/var/lib/mysql:rw
      - database_data:/var/lib/mysql:rw


      # You may use a bind-mounted host directory instead, so that it is harder to accidentally remove the volume and lose all your data!
#       - ./docker/db/data:/var/lib/mysql:rw

###< doctrine/doctrine-bundle ###

volumes:
  caddy_data:
  caddy_config:

  database_data:
#  navyrost-symfony-docker_database_data:
#    external: true