# Глобальная конфигурация
{
    http_port 80
    https_port 443
    auto_https off
}

# HTTP сервер с редиректом на HTTPS
http:// {
    redir https://{host}{uri} permanent
}

# HTTPS сервер
https:// {
    # Listen on all interfaces
    bind 0.0.0.0
    
    # Используем самоподписанный сертификат
    tls /etc/caddy/certs/192.168.88.220.crt /etc/caddy/certs/192.168.88.220.key {
        protocols tls1.2 tls1.3
        curves x25519 secp256r1 secp384r1
        ciphers TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384 TLS_ECDHE_RSA_WITH_AES_256_GCM_SHA384 TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256 TLS_ECDHE_RSA_WITH_CHACHA20_POLY1305_SHA256
    }
    
    # Set root directory
    root * /var/www/html/public
    
    # Handle static files
    @static {
        not path_regexp ^(.*\.php|/index\.php/.*)$
    }
    
    handle @static {
        file_server
    }
    
    # Handle PHP files
    php {
        root /var/www/html/public
        resolve_root_symlink
        env APP_ENV "dev"
        env APP_DEBUG "1"
    }
    
    # Handle all other requests
    try_files {path} /index.php{query}
    
    # Security headers
    header {
        X-Frame-Options "SAMEORIGIN"
        X-Content-Type-Options "nosniff"
        # Enable HSTS for HTTPS
        Strict-Transport-Security "max-age=31536000;"
    }
}
